<div>
    <tabset>
        <tab heading="Selector">
            <h1>{{name}}</h1>
            <div>
            </div>
        </tab>
        <tab heading="Invoice List">
            <div>
            </div>
        </tab>
        <tab heading="Add Invoice">
            <div>
            </div>
        </tab>
        <tab heading="Preview">
            <div>
            </div>
        </tab>
        <tab heading="Price Tables">
            <div>
            </div>
        </tab>
        <tab heading="Auto-Generate">
            <div>
            </div>
        </tab>
    </tabset>
</div>
