@import "bootstrap/bootstrap.less";
@import "variables.less";

p {
  margin: 20px 0;
}

h2 {
  background: none repeat scroll 0 0 @brand-primary;
  color: #fff;
  font: 300 30px @brand-font;
  padding: 0 10px;
  text-transform: uppercase;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid @panel-inner-border;
  margin: 1em 0;
  padding: 0;
}

td {
  min-width: 50px;
}

thead td{
  font-weight: bold;
}

tbody td{
  background-color: @body-bg;
}

form {
  padding: 15px 0 0 0;
}

.form-control {
  box-shadow: none;
}

.btn {
  font-family: @brand-font;
}

.panel {
  box-shadow: none;

  .panel-heading {
    font: 14px @brand-font;
    text-transform: uppercase;
    padding: 10px;
  }

  .panel-body {
    padding: 10px;
  }
}

.tree_wrapper {
  overflow-x: auto;
  max-width: 300px;
  word-wrap: normal;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

html, body {
  height: 100%;
}

body {

  .wrapper {
    position: relative;
    height: 100%;

    header {
      padding: 0;
    }

    .navbar {
      margin: 0;
      border-top: none;
      a {
        font: 14px @brand-font;
        color: #fff;
      }
    }

    .heading {

      margin: 10px 0 10px 0;

      .menuImg {
        max-height: 50px;
        border: 1px solid @panel-inner-border;
        background-color: @panel-bg;
      }

      .menuImg:hover {
        background-color: #fff;
      }

      h1 {
        color: #7e7e7e;
        display: inline-block;
        font: normal 40px/40px @brand-font;
        margin: 0;
        padding: 0 10px;
        text-transform: uppercase;
      }
    }

    .content {
      position: relative;
      min-height: 100%;
      margin-bottom: -@footer-height;
      padding-bottom: @footer-height;
    }

    .form-group {
      padding: 5px;
      margin: 5px;
    }

    .input-group {
      padding-right: 15px;
      padding-left: 15px;
    }

    .table_wrapper {
      overflow-x: auto;
      max-width: @table-width-min;
      padding-top: 10px;
    }
  }

  footer {
    height: @footer-height;
    color: @text-color;
    background-color: @panel-bg;
    border: 1px  solid @panel-inner-border;

    .lock-footer {
      padding: 10px;

      .img-footer {
        height: 35px;
      }
    }
  }
}