<div class="col-lg-6">
    <h4>Draggable Tree</h4>

    <!-- Nested list template -->
    <script type="text/ng-template" id="items_renderer.html">
        <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }">
            <a class="btn btn-xs" nodrag ng-click="toggle(this)">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
            </a>
            {{item.title}}
        </div>
        <ol ui-tree-nodes ng-model="item.items" ng-class="{ 'hidden': collapsed }">
            <li ng-repeat="item in item.items" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
        </ol>
    </script>

    <ui-tree>

        <ol ui-tree-nodes ng-model="list">
            <li ng-repeat="item in list" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
        </ol>

    </ui-tree>
</div>

<!--
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle>
        <a class="btn btn-xs" nodrag ng-click="toggle(this)">
            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
        </a>
        {{item.title}}
    </div>
    <ol ui-tree-nodes="" ng-model="item.items">
        <li ng-repeat="item in item.items" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
<div ui-tree>
    <ol ui-tree-nodes="" ng-model="list" ng-class="{ 'hidden': collapsed }">
        <li ng-repeat="item in list" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</div>-->
